______
## Species Ingest

In [ ]:
import sqlite3

# Database standard connection
conn=sqlite3.connect('nursery.db')
cursor=conn.cursor()

# Premilinar species data
species_data =     [
    ('Tabebuia rosea', 'Roble Rosado', 'Bignoniaceae', '2025-05-18', 'De 8 a 10 d√≠as', 'Moderado', 'Medio', 'Pleno sol', 'Semilla'),
    ('Tabebuia impetiginosa', 'Roble Morado', 'Bignoniaceae', '2025-05-02', 'M√°s de 15 d√≠as', 'Moderado', 'Medio', 'Pleno sol', 'Semilla'),
    ('Laburnum anagyroides', 'Lluvia de Oro', 'Fabaceae', '2025-06-22', 'De 8 a 10 d√≠as', 'Moderado', 'Medio', 'Pleno sol', 'Semilla-esqueje'),
    ('Mangifera indica', 'Mango', 'Anacardiaceae', '2025-07-06', 'M√°s de 15 d√≠as', 'Moderado', 'Medio', 'Pleno sol', 'Injerto-semilla'),
    ('Delonix regia', 'Acacia', 'Fabaceae', '2025-05-18', 'De 8 a 10 d√≠as', 'R√°pido', 'Medio', 'Sombra parcial', 'Semilla'),
    ('Citrus √ó paradisi', 'Toronja', 'Rutaceae', '2025-05-11', 'M√°s de 15 d√≠as', 'Lento', 'Medio', 'Pleno sol', 'Injerto-semilla'),
    ('Carica papaya', 'Papaya', 'Caricaceae', '2025-05-11', 'Menos 8 d√≠as', 'R√°pido', 'Medio', 'Pleno sol', 'Semilla'),
    ('Dypsis lutescens', 'Palma Areca', 'Arecaceae', '2025-08-29', 'M√°s de 15 d√≠as', 'R√°pido', 'Medio', 'Sombra parcial', 'Divisi√≥n-semilla'),
    ('Vachellia farnesiana', 'Aromo', 'Fabaceae', '2025-08-29', 'De 10 a 15 d√≠as', 'R√°pido', 'Medio', 'Pleno sol', 'Semilla'),
    ('Dracaena trifasciata', 'Lengua de Suegra', 'Asparagaceae', '2025-08-11', 'M√°s de 15 d√≠as', 'Lento', 'Bajo', 'Pleno sol', 'Divisi√≥n-esqueje'),
    ('Terminalia catappa', 'Almendro', 'Combretaceae', '2025-08-29', 'M√°s de 15 d√≠as', 'R√°pido', 'Medio', 'Pleno sol', 'Semilla'),
    ('Zamioculcas zamiifolia', 'Millonaria', 'Araceae', '2025-08-29', 'De 10 a 15 d√≠as', 'Lento', 'Bajo', 'Sombra parcial', 'Divisi√≥n-esqueje'),
    ('Luffa aegyptiaca', 'Estropajo', 'Cucurbitaceae', '2025-08-11', 'De 8 a 10 d√≠as', 'R√°pido', 'Alto', 'Pleno sol', 'Semilla'),
    ('Cassia grandis', 'Ca√±andonga', 'Fabaceae', '2025-08-29', 'M√°s de 15 d√≠as', 'R√°pido', 'Medio', 'Pleno sol', 'Semilla'),
    ('Dracaena marginata', 'Marginata Tricolor', 'Asparagaceae', '2025-09-10', 'M√°s de 15 d√≠as', 'R√°pido', 'Medio', 'Pleno sol', 'Esqueje'),
    ('Tradescantia pallida', 'Purpurina', 'Commelinaceae', '2025-09-10', 'Menos 8 d√≠as', 'Moderado', 'Bajo', 'Pleno sol', 'Esqueje'),
    ('Tradescantia spathacea', 'Maguey morado', 'Commelinaceae', '2025-09-19', 'De 8 a 10 d√≠as', 'Lento', 'Bajo', 'Sombra parcial','Divisi√≥n-esquje'),
    ('Plumeria', 'Bouquet de novia', 'Apocynaceae', '2025-09-19', 'M√°s de 15 d√≠as', 'Moderado', 'Medio', 'Pleno sol','Semilla-esqueje'),
    ('Persea americana', 'Aguacate', 'Lauraceae', '2025-09-20', 'M√°s de 15 d√≠as', 'R√°pido', 'Alto', 'Pleno sol', 'Semilla-esqueje'),
    ('Pasiflora edulis', 'Maracuy√°', 'Passifloraceae', '2025-09-19', 'M√°s de 15 d√≠as', 'R√°pido', 'Medio', 'Sombra parcial', 'Semilla'),
    ('Solanum quitoense', 'Lulo', 'Solanaceae', '2025-09-19', 'M√°s de 15 d√≠as', 'Moderado', 'Medio', 'Pleno sol', 'Semilla-esqueje'),
    ('Chrysobalanus icaco L', 'Icaco', 'Chrysobalanaceae', '2025-10-02', 'M√°s de 15 d√≠as', 'Moderado', 'Medio', 'Pleno sol', 'Semilla-esqueje')
]

# parametrized query for multiple row insertion
insert_query = '''
    INSERT INTO ESPECIE_LOTE
        (NOMBRE_CIENTIFICO, NOMBRE_COMUN, FAMILIA, FECHA_INICIO, GERMINACION_PROMEDIO, CRECIMIENTO, RIEGO, LUZ, PROPAGACION)
    VALUES
        (?,?,?,?,?,?,?,?,?)
'''

# Excecute in transaction
with sqlite3.connect('nursery.db') as conn:
    conn.executemany(insert_query, species_data)

In [1]:
import sqlite3

def insert_specie(datos_especie):
    """
    Insert a new species to the ESPECIE_LOTE table

    Parameters:
        datos_especie: Tuple with the data to import acording to the table
    """
    try:
        # Connect to the database
        conn = sqlite3.connect('nursery.db')
        cursor = conn.cursor()

        insert_query = ''' 
        INSERT INTO ESPECIE_LOTE 
        (NOMBRE_CIENTIFICO, NOMBRE_COMUN, FAMILIA, FECHA_INICIO, 
        GERMINACION_PROMEDIO, CRECIMIENTO, RIEGO,LUZ, PROPAGACION, NOTAS)
        VALUES (?,?,?,?,?,?,?,?,?,?)
        '''
        # Execute the insertion
        cursor.execute(insert_query, datos_especie)
        conn.commit()

        print("Especie insertada correctamente!")

    except sqlite3.Error as error:
        print(f"Error al insertar: {error}")
    
    finally:
        # close connection
        if conn:
            conn.close()

# New species data
new_data = (
    "Chrysobalanus icaco L", # NOMBRE_CIENTIFICO
    "Icaco",  # NOMBRE_COM√öN
    "Chrysobalanaceae",     # FAMILIA
    "2025-10-02",      # FECHA_INICIO
    "M√°s de 15 d√≠as",  # GERMINACI√ìN_PROMEDIO
    "Moderado",          # CRECIMIENTO (R√°pido, Moderado, Lento)
    "Medio",           # RIEGO (Alto, Medio, Bajo)
    "Pleno sol",       # LUZ (Sombra parcial, Pleno sol)
    "Semilla-esqueje", # PROPAGACI√ìN (Semilla, Esqueje, Divisi√≥n, Acodo o injerto)
    "" # NOTAS
)
    
insert_specie(new_data)

Especie insertada correctamente!

_______
# Irrigation Ingest

In [2]:
import sqlite3
from datetime import date

def log_daily_irrigation(irrigation_list, log_date=None):
    """
    A reusable function to log daily irrigation for MULTIPLE lots at once.
    
    Parameters:
    irrigation_list (list of tuples): Each tuple is (lote_id, water_lt, notes).
    log_date (str, optional): Date in 'DD-MM-YYYY' format. Uses today if not provided.
    """
    # Use today's date if no specific date is provided
    if log_date is None:
        log_date = date.today().strftime("%d-%m-%Y")
    
    conn = sqlite3.connect('nursery.db')
    cursor = conn.cursor()
    
    success_count = 0
    total_water = 0.0
    
    try:
        # Calculate total water first
        total_water = sum(water_lt for (lote_id, water_lt, notes) in irrigation_list)
        
        # Prepare the query
        insert_query = '''
            INSERT INTO REGISTRO_RIEGO (ESPECIE_LOTE_ID, FECHA, CANTIDAD_AGUA_LT, NOTAS)
            VALUES (?, ?, ?, ?)
        '''
        
        # Prepare the data: add the same date to every entry
        data_to_insert = [(lote_id, log_date, water_lt, notes) for (lote_id, water_lt, notes) in irrigation_list]
        
        # Execute all inserts at once
        cursor.executemany(insert_query, data_to_insert)
        conn.commit()
        
        success_count = len(irrigation_list)
        print(f"‚úÖ Successfully logged irrigation for {success_count} lots on {log_date}.")
        print(f"üíß Total water used: {total_water} liters")
        
    except sqlite3.Error as e:
        print(f"‚ùå An error occurred: {e}")
        conn.rollback()
    finally:
        conn.close()
    
    return success_count, total_water

# --- HOW TO USE IT DAILY ---
# 1. Define your irrigation for the day in this list
# Format: (lote_id, water_amount, notes)
today_irrigation = [
    #(1, 0.5, None),
    #(2, 5,None),
    #(3, 2, None),
    #(4, 2, None),
    #(5, 0.25, None),
    #(6, 2, None),
    #(7, 1, None),
    (8, 1, None),
    #(9, 3, None),
    #(10, 0.5, None),
    (11, 1, None),
    #(13, 0.5 , None),
    #(14, 0.5, None),
    #(15, 2, None),
    #(16, 1, None),
    #(17, 3, None),
    #(18, 0.5, None),
    (19, 1, None),
    #(20, 0, None),
    #(21, 0, None),
    (22, 0.5, None)
    # Add more lots as needed...
]

# 2. Run this single function call
log_daily_irrigation(today_irrigation)

# --- FOR BACKFILLING PAST DATES ---
# If you need to log for a different date, just provide the date:
# last_weeks_irrigation = [(3, 4.0, ''), (4, 1.5, '')]
# log_daily_irrigation(last_weeks_irrigation, log_date='25-08-2025')

‚úÖ Successfully logged irrigation for 4 lots on 08-10-2025.
üíß Total water used: 3.5 liters

(4, 3.5)

________
#  Batch Observation

In [2]:
import sqlite3
from datetime import date

# Create a function to insert periodical observation data

def log_observation (observations, observation_date=None):
    """ 
    Function for periodical observation for MULTIPLE lots and count follow-up

    Parameters: 
    observation (list of tuples): Each tuple for all observation fields (lote_id, date, plant_qt, height, stage, health, notes)
    date (str): Date in DD-MM-YY format. Uses today if not provided.
    """

    # Use today's date if not specific date is provided
    if observation_date is None:
        observation_date = date.today().strftime("%d-%m-%y")

    try:
        # Connect to the database
        conn = sqlite3.connect('nursery.db')
        cursor = conn.cursor()

        # Calculate total plant count
        total_plants = sum(plant_qt for (lote_id, plant_qt, height, stage, health, notes) 
                           in observations)

        # Prepare the query
        insert_query = ''' 
            INSERT INTO OBSERVACION_LOTE (ESPECIE_LOTE_ID, FECHA_OBSERVACION, CANTIDAD_PLANTAS_VIVAS, 
            ALTURA_PROMEDIO_CM, ETAPA_CRECIMIENTO, INDICADOR_SALUD, NOTAS)
            VALUES (?,?,?,?,?,?,?)
        '''

        # Prepare the data: add the same date to every entry
        data_to_insert =  [(lote_id, observation_date, plant_qt, height, stage, health, notes) 
                           for (lote_id, plant_qt, height, stage, health, notes) in observations]

        # Excecute all inserts at once
        cursor.executemany(insert_query, data_to_insert)
        conn.commit()

        print(f"‚úÖSuccessfully logged {len(observations)} observations")
        print(f"üìä Total living plants")

    except sqlite3.Error as e:
        print(f"‚ùå An error occurred: {e}")
        conn.rollback()
    finally:
        conn.close()
    
    return total_plants
        
    
# --- HOW TO USE IT DAILY ---
if __name__ == "__main__":
    # 1. Define your observations for the day in this list
    # Format: (lote_id, plant_qt, height, stage, health, notes)
    today_observations = [
        
        # Add more lots as needed...
        (1, 49, 28, 'CRECIMIENTO_VEGETATIVO', 'Regular', 'Sin Observaciones'),
        (2, 97, 41,'PRE-EMBOLSE', 'Buena', 'Perdimos tres plantas por maltrato de un perro'),
        (3, 93, 33, 'PRE-EMBOLSE', 'Buena', 'Trasplante necesario, dos plantas en cuarentena'),
        (4, 39, 15, 'PRE-EMBOLSE', 'Buena', 'Necesidad de traslado mejorar el drenado'),
        (5, 22, 12, 'CRECIMIENTO_VEGETATIVO', 'Buena', 'Sin Observaciones'),
        (6, 75, 20, 'CRECIMIENTO_VEGETATIVO', 'Buena', 'Sin Observaciones'),
        (7, 23, 26, 'LISTA_CAMPO', 'Buena', 'Sin Observaciones'),
        (8, 0, 0, 'GERMINACION', 'Buena', 'Se ven los primeros brotes'),
        (9, 7, 60, 'LISTA_CAMPO', 'Buena', 'Todas est√°n listas menos una'),
        (10, 54, 30, 'CRECIMIENTO_VEGETATIVO', 'Buena', 'Sin Observaciones'),
        (11, 30, 5, 'PLANTULA_ALMACIGO', 'Buena', 'Sin Observaciones'),
        (12, 1, 40, 'CRECIMINETO_VEGETATIVO', 'Buena', 'Sin Observaciones'),
        (13, 6, 40, 'LISTA_CAMPO', 'Buena', 'Sin Observaciones'),
        (14, 3, 28, 'CRECIMIENTO_VEGETATIVO', 'Buena', 'Sin Observaciones'),
        (15, 6, 21, 'CRECIMIENTO_VEGETATIVO', 'Buena', 'Sin Observaciones'),
        (16, 16, 12, 'CRECIMIENTO_VEGETATIVO', 'Buena', 'Menos una por la humedad'),
        (17, 27, 10, 'ACLIMATACION POST-EMBOLSE', 'Buena', 'Menos una por la humedad'),
        (18, 39, 0, 'GERMINACION', 'Buena', 'Esqueje a√∫n no sale los primeros brotes'),
        (19, 2, 50, 'ENDURECIMIENTO', 'Buena', 'Sin Observaciones'),
        (20, 1, 12, 'LISTA_CAMPO', 'Buena', 'Sin Observaciones'),
        (21, 1, 0, 'CRECIMIENTO_VEGETATIVO', 'Buena', 'Sin Observaciones'),
        (22, 0, 0, 'GERMINACION', 'Buena', 'Sin Observaciones')
    ]



    # 2. Run this single function call
    result = log_observation(today_observations)
    
    if result is not None:
        print(f"Operation completed successfully. Total plants: {result}")
    else:
        print("Operation failed.")

    # --- FOR BACKFILLING PAST DATES ---
    # If you need to log for a different date, just provide the date:
    # last_week_observations = [
    #     (3, 60, 22, 'Plantula embolsada', 'Regular', 'Necesita m√°s agua'),
    #     (4, 55, 19, 'Plantula embolsada', 'Buena', '')
    # ]
    # log_observation(last_week_observations, observation_date='25-08-2024')

‚úÖSuccessfully logged 22 observations
üìä Total living plants
Operation completed successfully. Total plants: 591

______
# Plant Entrance or Addition to the Nursery

In [1]:
import sqlite3
from datetime import date

def log_entrance(entrances, entrance_date='20-09-25'):
    """ 
    Function for inserting multiple plant entrances with automated CODIGO_ENTRADA generation

    Parameters:
    entrances (list of tuples): Each tuple contains all observation fields except CODIGO_ENTRADA
    entrance_date (str): Date in DD-MM-YY format. Uses today if not provided.
    """

    # Use today's date if no specific date is provided
    if entrance_date is None:
        entrance_date = date.today().strftime("%d-%m-%y")

    conn = None
    try:
        # Connect to the database
        conn = sqlite3.connect('nursery.db')
        cursor = conn.cursor()
        
        # Generate CODIGO_ENTRADA for each entrance and prepare data for insertion
        data_to_insert = []
        for entrance in entrances:
            especie_lote_id = entrance[0]
            
            # Count existing entries for this species and date to determine consecutive number
            # NOTE: Fixed the parentheses and added comma to make single parameter a tuple
            cursor.execute('''
                SELECT COUNT(*) FROM ENTRADA_PLANTAS 
                WHERE ESPECIE_LOTE_ID = ? AND FECHA_ENTRADA = ?
            ''', (especie_lote_id, entrance_date))  # Fixed: proper tuple with comma

            existing_count = cursor.fetchone()[0]
            consecutive_number = existing_count + 1

            # Generate unique CODIGO_ENTRADA
            codigo_entrada = f"{especie_lote_id}_{entrance_date}_{consecutive_number:02d}"

            # Reconstruct the tuple with CODIGO_ENTRADA included
            full_data = (entrance[0], codigo_entrada, entrance_date) + entrance[1:]
            data_to_insert.append(full_data)

        # Prepare the query
        insert_query = ''' 
        INSERT INTO ENTRADA_PLANTAS 
            (ESPECIE_LOTE_ID, CODIGO_ENTRADA, FECHA_ENTRADA, PROPAGACION,
            FECHA_SIEMBRA, CANTIDAD_SEMILLAS, FECHA_BROTACION,
            CANTIDAD_PLANTAS_EMBOLSADAS, FECHA_EMBOLSADO, FASE_LUNAR, NOTAS)
        VALUES (?,?,?,?,?,?,?,?,?,?,?)
        '''

        # Execute all inserts at once
        cursor.executemany(insert_query, data_to_insert)
        conn.commit()
        
        print(f"‚úÖ Successfully inserted {len(entrances)} plant entrances")
        return True
        
    except sqlite3.Error as e:
        print(f"‚ùå Database error occurred: {e}")
        if conn:
            conn.rollback()
        return False
    finally:
        if conn:
            conn.close()

# Example usage with corrected data format
# Format: (ESPECIE_LOTE_ID, PROPAGACION, FECHA_SIEMBRA, CANTIDAD_SEMILLAS, 
#          FECHA_BROTACION, CANTIDAD_PLANTAS_EMBOLSADAS, FECHA_EMBOLSADO, 
#          FASE_LUNAR, NOTAS)
new_entrances = [
   (18, 'Esqueje', '20-09-2025', 30, None, None, None, None, 'Crotos no identificado que aparenta ser bouquet')
]

# Fixed function call - use consistent function name
log_entrance(new_entrances)
# Defino entrada de plantas como el momento cero de la obtenci√≥n de la semilla

‚úÖ Successfully inserted 1 plant entrances

True

In [14]:
import sqlite3

def delete_by_codigo_entrada(codigo_entrada):
    """
    Elimina un registro de la tabla ENTRADA_PLANTAS por CODIGO_ENTRADA
    
    Args:
        codigo_entrada (str): C√≥digo en formato especie_dd-mm-yy_consecutivo
    
    Returns:
        int: N√∫mero de registros eliminados
    """
    conn = None
    try:
        conn = sqlite3.connect('nursery.db')
        cursor = conn.cursor()

        # Consulta parametrizada para evitar SQL injection
        cursor.execute(
            '''
            DELETE FROM ENTRADA_PLANTAS
            WHERE CODIGO_ENTRADA = ?
            ''',
            (codigo_entrada,)
        )
        
        rows_deleted = cursor.rowcount
        conn.commit()
        
        if rows_deleted > 0:
            print(f"‚úÖ Registro eliminado: CODIGO_ENTRADA = '{codigo_entrada}'")
        else:
            print(f"‚ö†Ô∏è  No se encontr√≥ registro con CODIGO_ENTRADA = '{codigo_entrada}'")
        
        return rows_deleted
        
    except sqlite3.Error as e:
        print(f"‚ùå Error en la base de datos: {e}")
        if conn:
            conn.rollback()
        return 0
    except Exception as e:
        print(f"‚ùå Error general: {e}")
        return 0
    finally:
        if conn:
            conn.close()

# Funci√≥n adicional para eliminar m√∫ltiples c√≥digos
def delete_multiple_codigos_entrada(codigos_list):
    """
    Elimina m√∫ltiples registros por sus CODIGO_ENTRADA
    
    Args:
        codigos_list (list): Lista de c√≥digos a eliminar
    """
    total_deleted = 0
    for codigo in codigos_list:
        deleted = delete_by_codigo_entrada(codigo)
        total_deleted += deleted
    
    print(f"\nüìä Total de registros eliminados: {total_deleted}")
    return total_deleted

# Ejemplos de uso
if __name__ == "__main__":
    # Ejemplo 1: Eliminar un c√≥digo espec√≠fico
    delete_by_codigo_entrada('8_07-10-25_01')
    
    # Ejemplo 2: Eliminar m√∫ltiples c√≥digos
    codigos_a_eliminar = [
        '8_07-10-25_01'
    ]
    delete_multiple_codigos_entrada(codigos_a_eliminar)

‚úÖ Registro eliminado: CODIGO_ENTRADA = '8_07-10-25_01'
‚ö†Ô∏è  No se encontr√≥ registro con CODIGO_ENTRADA = '8_07-10-25_01'

üìä Total de registros eliminados: 0

In [ ]:
import sqlite3


conn = sqlite3.connect('nursery.db')
cursor = conn.cursor()

cursor.execute("""
    UPDATE ENTRADA_PLANTAS
    SET FECHA_BROTACION = '14-10-25'
    WHERE CODIGO_ENTRADA = '1_03-10-25_01'
""")

conn.commit()
conn.close()

_____________
# Rain Tracking

As part of the irrigation processes, we consider and document rain as a collaborative force

In [2]:
import sqlite3 

# Rain data
rain_data =[
    ('2025-10-14 14:04', '2025-10-14 14:40', 'Lluvia Moderada', 'con llovizna persistente')
]

# Parametrized query 
insert_query = '''
    INSERT INTO REGISTRO_CLIMA 
        (FECHA_HORA_INICIO, FECHA_HORA_FIN, CATEGORIA_PRECIPITACION, NOTAS)
    VALUES (?,?,?,?)
'''

# Execute with verification
with sqlite3.connect('nursery.db') as conn:
    cursor = conn.cursor()
    cursor.executemany(insert_query, rain_data)

    # Basic verification
    rows_inserted = cursor.rowcount
    print(f"Rows inserted: {rows_inserted}")

    # Verify by counting final records
    cursor.execute("SELECT COUNT(*) FROM REGISTRO_CLIMA")
    total_records = cursor.fetchone()[0]
    print(f"Total records in table: {total_records}")

Rows inserted: 1
Total records in table: 19

In [8]:
import sqlite3

def delete_climate_record(date_time):
    try:
        conn = sqlite3.connect('nursery.db')
        cursor = conn.cursor()

        # Use parameterized query to avoid SQL injection and formatting issues
        cursor.execute(
            '''
            DELETE FROM REGISTRO_CLIMA
            WHERE FECHA_HORA_INICIO = ?
            ''',
            (date_time,)
        )
        
        rows_deleted = cursor.rowcount
        conn.commit()
        
        print(f"Rows deleted: {rows_deleted}")
        return rows_deleted
        
    except sqlite3.Error as e:
        print(f"Database error: {e}")
        if conn:
            conn.rollback()
        return 0
    except Exception as e:
        print(f"General error: {e}")
        return 0
    finally:
        if conn:
            conn.close()

# Usage
delete_climate_record('2025-09-26 13:30')

Rows deleted: 0

0

______
# Pest Control Tracking

In [ ]:
import sqlite3

# Preliminar pest control data
pest_control = [
    (3, 'Huecos en hojas', 'Bajo', '15-10-25', 'Cuarto Menguante', 'Aceite de Neem-Jab√≥n Pot√°sico', 10.5, 502),  
    (6, 'Hojas deformes', 'Bajo', '15-10-25', 'Cuarto Menguante', 'Aceite de Neem-Jab√≥n Pot√°sico', 9.5, 446)     # Remove quotes from numbers
]

# ‚úÖ CORRECTED Query - Match exact column names
insert_query = ''' 
    INSERT INTO CONTROL_PLAGAS
        (ESPECIE_LOTE_ID, DESCRIPCION_PLAGA, NIVEL_GRAVEDAD, FECHA, 
        FASE_LUNAR, NOMBRE_PRODUCTO, DOSIS_PRODUCTO_ML, CANTIDAD_AGUA_ML)
    VALUES 
        (?,?,?,?,?,?,?,?)
'''

# Execute the transaction
with sqlite3.connect('nursery.db') as conn:
    conn.executemany(insert_query, pest_control)

In [17]:
import sqlite3

# Diagnostic script
with sqlite3.connect('nursery.db') as conn:
    cursor = conn.cursor()
    
    # Check if table exists
    cursor.execute("SELECT name FROM sqlite_master WHERE type='table' AND name='CONTROL_PLAGAS'")
    table_exists = cursor.fetchone()
    print(f"Table exists: {table_exists}")
    
    if table_exists:
        # Check table structure
        cursor.execute("PRAGMA table_info(CONTROL_PLAGAS)")
        columns = cursor.fetchall()
        print("\nTable structure:")
        for col in columns:
            print(col)
        
        # Check current data
        cursor.execute("SELECT * FROM CONTROL_PLAGAS")
        data = cursor.fetchall()
        print(f"\nCurrent rows: {len(data)}")
        for row in data:
            print(row)

Table exists: ('CONTROL_PLAGAS',)

Table structure:
(0, 'ID', 'INTEGER', 0, None, 1)
(1, 'ESPECIE_LOTE_ID', 'INTEGER', 1, None, 0)
(2, 'DESCRIPCION_PLAGA', 'TEXT', 0, None, 0)
(3, 'NIVEL_GRAVEDAD', 'TEXT', 0, None, 0)
(4, 'FECHA', 'DATE', 1, None, 0)
(5, 'FASE_LUNAR', 'TEXT', 0, None, 0)
(6, 'NOMBRE_PRODUCTO', 'TEXT', 0, None, 0)
(7, 'DOSIS_PRODUCTO_ML', 'REAL', 0, None, 0)
(8, 'CANTIDAD_AGUA_ML', 'TEXT', 0, None, 0)

Current rows: 2
(1, 3, 'Huecos en hojas', 'Bajo', '15-10-25', 'Cuarto Menguante', 'Aceite de Neem-Jab√≥n Pot√°sico', 10.5, '502')
(2, 6, 'Hojas deformes', 'Bajo', '15-10-25', 'Cuarto Menguante', 'Aceite de Neem-Jab√≥n Pot√°sico', 9.5, '446')