In [6]:
import sqlite3

# Connect to the existing database file
conn = sqlite3.connect('reforestation.db')
cursor=conn.cursor()

# Insert the second line
cursor.execute('''
    INSERT INTO PRELIMINAR
                (GENERAL_LOCATION, SPECIFIC_LOCATION, AREA_M2, PERIMETER_M)
            VALUES
                ('Parque lluvia de oro', 'Frente a Torcaza I', 893.16, 144.64)
''')

conn.commit()
conn.close()

In [9]:
import pandas as pd

# Print the inserted data
conn = sqlite3.connect('reforestation.db')
df = pd.read_sql("SELECT * FROM PRELIMINAR", conn)
print(df)

conn.close()

   ID      GENERAL_LOCATION   SPECIFIC_LOCATION  AREA_M2  PERIMETER_M  \
0   1  Parque lluvia de oro             Rotonda  1123.25       122.22
1   2  Parque lluvia de oro  Frente a Torcaza I   893.16       144.64

   TREES_BY_AREA  TREES_BY_PERIMETER
0           70.0                30.0
1            NaN                 NaN

In [ ]:
import sqlite3

# Insert multiple rows to th existing database
# list of tupples to insert
location_data = [
    ('Parque lluvia de oro', 'Frente a Torcaza II', 850.62, 1335.55),
    ('Parque lluvia de oro', 'Cancha de Futbol', 1658.05, 163.8 ),
    ('Parque lluvia de oro', 'Frente a Gorrión I', 539.14, 97.81 ),
    ('Parque lluvia de oro', 'Frente a Gorrión II', 2098.78, 188.02),
    ('Parque lluvia de oro', 'Frente a Gorrión III',2398.02,208.31),
    ('Parque lluvia de oro', 'Frente a Gorrión IV',1424.44, 152.78),
    ('Parque lluvia de oro', 'Frente a Tórtola I',2076.92, 194.4),
    ('Parque lluvia de oro', 'Frente a Tórtola II',2326.86, 205.78),
    ('Parque lluvia de oro', 'Servidumbre I',524.58,95.83),
    ('Parque lluvia de oro', 'Servidumbre II',472.91,83.13),
    ('Parque lluvia de oro', 'Servidumbre III',596.44,95.61),
    ('Parque lluvia de oro', 'Servidumbre IV',777.23,124.58)
    ('Parque lluvia de oro', 'Servidumbre V', 3954.72, 270.59),
]